<div class="text-center">
    <h1 id="indexTitulo" class="display-4">Bienvenido</h1>    
</div>
<br />
<div>
    <p>
        A continuación se muestran imágenes informativas con edición a base de CSS:
    </p>
</div>
<div id="contenido" class="row">
    <div id="left" class="col-4">
        <article id="gatoart">
            <img src="~/img/gato.png" id="gatoIMG"/>
            <div id="gatodatos">
                <h3 id="gatotitulo">Gatos</h3>
                <p id="gatodescripcion">
                    No cabe duda que los gatos son una excelente compañía. Son perfectos cómplices para las personas que buscan un compañero con quien descansar, que le guste pasar momentos tranquilos y sobretodo aquel que busca un amigo fiel. Muchos artistas afirman que son la mejor compañía y, a veces, una gran inspiración.
                </p>
            </div>
        </article>       
    </div>
    <div id="center" class="col-4">
        <article id="perroart">
            @*<img src="~/img/perro.jpg" id="perroIMG" />*@
            <div id="perrodatos">
                <h3 id="perrotitulo">Perros</h3>
                <p id="perrodescripcion">
                    Ya desde la prehistoria se han documentado casos de asociación entre estos mamíferos descendientes del lobo y el ser humano. Cuando el hombre se dio cuenta de que podía ser un compañero de caza muy eficaz se creó una relación que ha evolucionado hasta la actualidad.
                </p>
            </div>
        </article>
    </div>
    <div id="right" class="col-4">
        <article id="snakeart">
            <div id="snakedatos">
                <h3 id="snaketitulo">Serpientes</h3>
                <span id="snakesubtitulo">Atheris Chlorechis</span>
                <p id="snakedescripcion">
                    Es una especie de víbora venenosa que se encuentra solo en los bosques de África occidental. Actualmente no se reconocen subespecies.
                </p>
            </div>
        </article>
    </div>
</div>